#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
	      -DCMAKE_BUILD_TYPE=Release \
	      -DUSE_SYSTEM_LIBINDI=1 \
	      -DUSE_SYSTEM_GTEST=1 \
	      -DUSE_SYSTEM_CFITSIO=1 \
	      -DUSE_SYSTEM_LIBUSB=1 \
	      -DUSE_SYSTEM_EIGEN3=1 \
	      -DOPENSOURCE_ONLY=1

